html, body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#button_div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#canvas_holder {
  position: relative;
}

.upload-btn {
  background-color: #2196F3;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.download-btn {
  background-color: #51b819;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #2c9611;
}

.upload-btn:hover {
  background-color: #0D8BF2;
}